/* Pen-specific styles */
html,
body,
section {
  height: 100%;
  width: 100%;
}

nav {
  border-bottom: 2px solid;
}

body {
  color: #fff;
  font-family: sans-serif;
  font-size: 1.25rem;
  line-height: 150%;
  text-align: center;
  text-shadow: 0 2px 2px #b6701e;
}

h1 {
  font-size: 1.75rem;
  margin: 0 0 0.75rem 0;
}

/* Pattern styles */
.container {
  display: flex;
}

.review-box {
  border-style: solid;
  background-color: #b1dff5;
  flex: 1;
  padding: 1rem;
  margin: 100px;
  height: 60%;
}
